<div class="content-container">
	<%= render partial: "users/sidenav" %>

	<div class="container col-md-10 col-sm-12 container-mobile-product">
	  <h1>Previous Posts</h1>
	    <% @forum_posts.each do |forum_post| %>
	      <tr>
	        <td><%= forum_post.id %></td>
	        <td><%= forum_post.body %></td>
	      </tr>
	    <% end %>
	</div>
</div>