<% if current_user.present? && current_user.favorites?(brand) %>
  <%= link_to brand_favorite_path(brand.id), method: :delete, remote: true do %>
  	<div class="brand-action"><i class="fa fa-bookmark-o" aria-hidden="true"></i> SAVE</div>
  <% end %>
<% else %>
  <%= link_to brand_favorite_path(brand.id), method: :post, remote: true do %>
  	<div class="brand-action"><i class="fa fa-bookmark" aria-hidden="true"></i> SAVE</div>
  <% end %>
<% end %>

