<% if current_user.present? && current_user.likes?(brand) %>
  <%= link_to brand_like_path(brand.id), method: :delete, remote: true do %>
  	<div class="brand-action"><i class="fa fa-caret-up" aria-hidden="true"></i> <%= brand.likes.count %></div>
  <% end %>
<% else %>
  <%= link_to brand_like_path(brand.id), method: :post, remote: true do %>
  	<div class="brand-action"><i class="fa fa-caret-up" aria-hidden="true"></i> <%= brand.likes.count %></div>
  <% end %>
<% end %>
